.form-group.required .control-label:after {
    content:"*";
    color:red;
  }

.requiredColor {
  color : red;
}

/* Password Strength Meter */
.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 8px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #ced4da;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 14px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: #F25F5C;
}
.strength-Fair::-webkit-progress-value {
  background-color: #FFE066;
}
.strength-Good::-webkit-progress-value {
  background-color: #247BA0;
}
.strength-Strong::-webkit-progress-value {
  background-color: #70C1B3;
}

.btn-login {
  padding-left    : 150px;
  padding-right   : 150px;
  padding-top     : 6px;
  padding-bottom  : 8px;
}

.btn-facebook {
  padding-left    : 84px;
  padding-right   : 92px;
  padding-top     : 6px;
  padding-bottom  : 8px;
  border-color    : #3B5998;
  background-color: #3B5998;
  color           : white;
  font-size       : 16px;
  border-radius   : 6px;
}